.cardDropDown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;
  
    .items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }
  
    .button {
        display: flex;
        align-items:center;
        justify-content: center;
       padding: 1px; 
      margin-top: auto;
    }
  }
  