body {
  margin: 0;
  font-family: "Indie Flower", cursive, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: "Indie Flower";
  -moz-osx-font-smoothing: "Indie Flower";
}

code {
  font-family: "Indie Flower", cursive, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
